<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Capture2Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Capture2Net.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Capture2Net.Properties.Settings>
      <setting name="protocol" serializeAs="String">
        <value>HTTP</value>
      </setting>
      <setting name="hostname" serializeAs="String">
        <value />
      </setting>
      <setting name="path" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="showHiddenBalloonTip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="limitToOneInstance" serializeAs="String">
        <value>True</value>
      </setting>
    </Capture2Net.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>